.nav{
    background-color: #BBDCEE !important;
    min-height: fit-content !important;min-width: fit-content !important;
}
.wcontrol{
    min-width:fit-content !important;
}
.hcontrol{
    min-height: fit-content !important;
}
.footerstyle{
    background-color: #BBDCEE !important;
    min-height: fit-content !important;
}
.center{
    text-align: center;
}
.textholder{
min-width: fit-content;
}
.fcontent{
    float:left;
}