.nav{
    background-color: #BBDCEE !important;
    min-height: fit-content !important;min-width: fit-content !important;
}
.adholder{
    font-style: italic !important;
}
.wcontrol{
    min-width:fit-content !important;
}
.hcontrol{
    min-height: fit-content !important;
}
.footerstyle{
    background-color: #BBDCEE !important;
    min-height: fit-content !important;
}
.center{
    text-align: center;
}
.textholder{
min-width: fit-content;
}
.fcontent{
    float:left;
}
.header-color{
    background-color: #BBDCEE !important;
}
.mtop{
    margin-top: 10px !important;
}

.linkdec{
    cursor:pointer;text-decoration: none !important; 
}